schemas/1.3/farm-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:bldg="http://www.opengis.net/citygml/building/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/core.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/>

    <xs:complexType name="FarmBuildingPropertiesType">
        <xs:complexContent>
            <xs:extension base="bldg:ADEOfBuildingType">
                <xs:sequence>
                    <xs:element name="buildingType" type="gml:CodeType" minOccurs="0">
                        <xs:annotation><xs:documentation>CodeSpace suggestion: urn:farm:codelist:buildingtype</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="purpose" type="xs:string" minOccurs="0"/>
                    <xs:element name="constructionYear" type="xs:gYear" minOccurs="0"/>
                    <xs:element name="associatedEnterpriseRef" type="gml:ReferenceType" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PersonInfoType">
         <xs:sequence>
             <xs:element name="firstName" type="xs:string" minOccurs="0"/>
             <xs:element name="surname" type="xs:string" minOccurs="0"/>
             <xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
             <xs:element name="sex" type="gml:CodeType" minOccurs="0"/>
             <xs:element name="age" type="xs:integer" minOccurs="0"/>
             <xs:element name="educationLevel" type="gml:CodeType" minOccurs="0"/>
         </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HouseholdInfoType">
        <xs:sequence>
            <xs:element name="householdID" type="xs:string" minOccurs="0"/>
            <xs:element name="numberOfMembers" type="xs:positiveInteger"/>
            <xs:element name="member" type="farm:HouseholdMemberType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HouseholdMemberType">
        <xs:complexContent>
             <xs:extension base="farm:PersonInfoType"> <xs:sequence>
                    <xs:element name="memberID" type="xs:string" minOccurs="0"/>
                    <xs:element name="relationshipToHead" type="gml:CodeType" minOccurs="0"/>
                    <xs:element name="workedOnHolding" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="offFarmIncomeSources" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LabourInputType">
        <xs:sequence>
             <xs:element name="totalFamilyLabourTime" type="xs:duration" minOccurs="0"/>
             <xs:element name="totalHiredLabourTime" type="xs:duration" minOccurs="0"/>
             <xs:element name="hiredContractorUsed" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FarmProfileType">
         <xs:sequence>
            <xs:element name="legalStatus" type="farm:LegalStatusValue"/>
            <xs:element name="marketIntegration" type="farm:MarketIntegrationValue"/>
         </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FarmSizeType">
        <xs:sequence>
            <xs:element name="physicalSizeAAU" type="gml:AreaType" minOccurs="0"/>
            <xs:element name="economicSize" type="farm:EconomicSizeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EconomicSizeType">
        <xs:sequence>
            <xs:element name="totalAgriculturalOutput" type="gml:MeasureType"/>
            <xs:element name="cropOutput" type="gml:MeasureType" minOccurs="0"/>
            <xs:element name="livestockOutput" type="gml:MeasureType" minOccurs="0"/>
            <xs:element name="calculationReferencePeriod" type="gml:TimePeriodPropertyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DiversificationType">
         <xs:sequence>
            <xs:element name="hasOtherEconomicActivity" type="xs:boolean"/>
            <xs:element name="otherEconomicActivityType" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                 <xs:annotation><xs:documentation>CodeSpace suggestion: urn:fao:agris:activitylist</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="significanceOfOtherActivity" type="farm:SignificanceValue" minOccurs="0"/>
            <xs:element name="shareOfNonAgriculturalOutput" type="xs:double" minOccurs="0">
                 <xs:annotation><xs:documentation>Share from 0.0 to 1.0</xs:documentation></xs:annotation>
            </xs:element>
         </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LegalStatusValue">
        <xs:restriction base="xs:string">
            <xs:enumeration value="civilPerson"/>
            <xs:enumeration value="groupOfCivilPersons"/>
            <xs:enumeration value="juridicalPerson"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MarketIntegrationValue">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mainlyForOwnConsumption"/>
            <xs:enumeration value="mainlyForSale"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommoditySpecializationValue">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cropProduction"/>
            <xs:enumeration value="livestockProduction"/>
            <xs:enumeration value="mixed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SignificanceValue">
         <xs:restriction base="xs:string">
            <xs:enumeration value="significant"/>
            <xs:enumeration value="marginal"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProducerTypeValue">
        <xs:annotation><xs:documentation xml:lang="en">Type of producer role on the land.</xs:documentation><xs:documentation xml:lang="pt-br">Tipo de papel do produtor na terra.</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="owner"/>
            <xs:enumeration value="tenant"/>
            <xs:enumeration value="partner"/>
            <xs:enumeration value="occupant"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="InputUsedType">
        <xs:sequence>
             <xs:element name="inputType" type="gml:CodeType"/>
            <xs:element name="productName" type="xs:string" minOccurs="0"/>
            <xs:element name="quantityApplied" type="gml:MeasureType" minOccurs="0"/>
            <xs:element name="applicationRate" type="gml:MeasureType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
     <xs:complexType name="StorageInfoType">
        <xs:sequence>
            <xs:element name="hasStorageAbility" type="xs:boolean"/>
            <xs:element name="storageType" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="isOnFarmStorage" type="xs:boolean" minOccurs="0"/>
            <xs:element name="isModernFacility" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>