schemas/1.3/farm-risk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/core.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="../ogc/citygml/3.0/generics.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/>

    <xs:include schemaLocation="farm-hooks.xsd"/>

    <xs:annotation><xs:appinfo>Package: farm-risk</xs:appinfo></xs:annotation>
    
    <xs:element name="insuranceRisk" type="farm:InsuranceRiskAssessmentType" substitutionGroup="farm:_GenericApplicationPropertyOfRuralProperty"/>
    <xs:element name="soilAnalysis" type="farm:ZarcAnaliseSoloType" substitutionGroup="farm:_GenericApplicationPropertyOfAbstractCropArea"/>
    <xs:element name="satelliteMonitoring" type="farm:ZarcMonitoramentoSateliteType" substitutionGroup="farm:_GenericApplicationPropertyOfAbstractCropArea"/>
    <xs:element name="cultivationHistory" type="farm:ZarcHistoricoCultivoType" substitutionGroup="farm:_GenericApplicationPropertyOfAbstractCropArea"/>

     <xs:complexType name="InsuranceRiskAssessmentType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmGenericAttributeType">
                <xs:sequence>
                    <xs:element name="zarcScore" type="xs:integer" minOccurs="0"/>
                    <xs:element name="calculationDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="riskClassificationKey" type="xs:string" minOccurs="0"/>
                    <xs:element name="methodologyCode" type="gml:CodeType" minOccurs="0">
                         <xs:annotation><xs:documentation>CodeSpace suggestion: urn:gov:br:mapa:zarc:methodology</xs:documentation></xs:annotation>
                     </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ZarcAnaliseSoloType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmGenericAttributeType">
                <xs:sequence>
                    <xs:element name="collectionDate" type="xs:date"/>
                    <xs:element name="layerDepth" type="xs:string"/>
                    <xs:element name="sandContent" type="xs:double"/>
                    <xs:element name="clayContent" type="xs:double"/>
                    <xs:element name="siltContent" type="xs:double"/>
                    <xs:element name="pHinWater" type="xs:double"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ZarcMonitoramentoSateliteType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmGenericAttributeType">
                <xs:sequence>
                    <xs:element name="date" type="xs:date"/>
                    <xs:element name="satellite" type="xs:string"/>
                    <xs:element name="ndviValue" type="xs:float" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ZarcHistoricoCultivoType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmGenericAttributeType">
                <xs:sequence>
                    <xs:element name="plantingDate" type="xs:date"/>
                    <xs:element name="harvestDate" type="xs:date"/>
                    <xs:element name="crop" type="xs:string"/>
                    <xs:element name="ilpUsed" type="xs:boolean"/>
                    <xs:element name="strawPercentage" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>