schemas/1.3/farm-hooks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0"
    xmlns:luse="http://www.opengis.net/citygml/landuse/3.0"
    xmlns:bldg="http://www.opengis.net/citygml/building/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"   
    xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0"
    xmlns:vers="http://www.opengis.net/citygml/versioning/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/core.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/vegetation/3.0" schemaLocation="../ogc/citygml/3.0/vegetation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="../ogc/citygml/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="../ogc/citygml/3.0/generics.xsd"/> 
    <xs:import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="../ogc/citygml/3.0/dynamizer.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="../ogc/citygml/3.0/versioning.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/> 
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../ogc/gml/3.2.1/xlink.xsd"/>

    <xs:complexType name="AbstractFarmGenericAttributeType" abstract="true">
        <xs:complexContent>
            <xs:extension base="core:AbstractGenericAttributeType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HarvestedLotType" abstract="true">
        <xs:complexContent>
            <xs:extension base="core:AbstractFeatureWithLifespanType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="_GenericApplicationPropertyOfRuralProperty" type="farm:AbstractFarmGenericAttributeType" abstract="true" substitutionGroup="core:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAbstractCropArea" type="farm:AbstractFarmGenericAttributeType" abstract="true" substitutionGroup="core:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfHarvestedLot" type="farm:AbstractFarmGenericAttributeType" abstract="true" substitutionGroup="core:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAgriculturalOperation" type="farm:AbstractFarmGenericAttributeType" abstract="true" substitutionGroup="core:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAbstractRuralEnterprise" type="farm:AbstractFarmGenericAttributeType" abstract="true" substitutionGroup="core:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfHarvestedLot" type="core:AbstractFeatureWithLifespanType" substitutionGroup="core:AbstractFeature"/>

    <xs:complexType name="_ADEOfLandUseType">
        <xs:annotation>
            <xs:documentation>Conceptual hook for LandUse extensions.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="core:ADEOfAbstractSpaceType">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="_ADEOfLandUse" type="farm:_ADEOfLandUseType" abstract="true" substitutionGroup="core:ADEOfAbstractSpace"/>

</xs:schema>
