schemas/1.3/farm-operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="http://schemas.opengis.net/citygml/3.0/core.xsd C:/Users/Usuario/Documents/GitHub/FarmGML-ADE/schemas/ogc/citygml/3.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="https://schemas.opengis.net/citygml/landuse/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="https://schemas.opengis.net/citygml/landuse/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/> 

    <xs:annotation><xs:appinfo>Package: farm-operations</xs:appinfo></xs:annotation>

    <xs:element name="AgriculturalOperation" type="farm:AgriculturalOperationType" substitutionGroup="core:AbstractDynamizer">
         <xs:annotation><xs:documentation>Dynamizer representing agricultural operations over time.</xs:documentation></xs:annotation>
    </xs:element>
    <xs:complexType name="AgriculturalOperationType">
        <xs:complexContent>
            <xs:extension base="core:AbstractDynamizerType">
                <xs:sequence>
                    <xs:element name="operationType" type="gml:CodeType">
                        <xs:annotation><xs:documentation>CodeSpace suggestion: urn:farm:codelist:operationtype</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="inputUsed" type="farm:InputUsedType" minOccurs="0"/>
                    <xs:element name="areaAffected" type="gml:AreaType" minOccurs="0"/>
                    <xs:element name="targetCropAreaRef" type="gml:ReferenceType" minOccurs="0"/> <xs:element name="targetPropertyRef" type="gml:ReferenceType" minOccurs="0"/> <xs:element ref="core:lifecycleInfo" minOccurs="0"/>
                    <xs:element ref="farm:_GenericApplicationPropertyOfAgriculturalOperation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgriculturalOperationPropertyType">
        <xs:sequence minOccurs="0">
             <xs:element ref="farm:AgriculturalOperation"/>
        </xs:sequence>
        <xs:attribute ref="xlink:href"/>
        <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </xs:complexType>

</xs:schema>
