schemas/1.3/farm-sustainability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="../ogc/citygml/3.0/generics.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/> 

    <xs:annotation><xs:appinfo>Package: farm-sustainability</xs:appinfo></xs:annotation>

     <xs:complexType name="SustainabilityMetricsType">
        <xs:sequence>
             <xs:element name="carbonFootprint" type="gml:MeasureType" minOccurs="0"/>
             <xs:element name="waterUsageEfficiency" type="xs:double" minOccurs="0"/>
             <xs:element name="biodiversityIndex" type="xs:double" minOccurs="0"/>
             <xs:element name="soilHealthIndicator" type="xs:string" minOccurs="0"/>
             <xs:element name="bioinputUsageRate" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TraceabilityInfoType">
        <xs:sequence>
            <xs:element name="lotID" type="xs:string"/>
            <xs:element name="blockchainHash" type="xs:string" minOccurs="0"/>
            <xs:element name="originPropertyRef" type="gml:ReferenceType" minOccurs="0"/>
            <xs:element name="originAreaRef" type="gml:ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
