schemas/1.3/farm-hooks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="http://schemas.opengis.net/citygml/3.0/core.xsd C:/Users/Usuario/Documents/GitHub/FarmGML-ADE/schemas/ogc/citygml/3.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="../ogc/citygml/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/> 

    <xs:element name="_GenericApplicationPropertyOfRuralProperty" type="xs:anyType" abstract="true" substitutionGroup="gen:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAbstractCropArea" type="xs:anyType" abstract="true" substitutionGroup="gen:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfHarvestedLot" type="xs:anyType" abstract="true" substitutionGroup="gen:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAgriculturalOperation" type="xs:anyType" abstract="true" substitutionGroup="gen:AbstractGenericAttribute"/>
    <xs:element name="_GenericApplicationPropertyOfAbstractRuralEnterprise" type="xs:anyType" abstract="true" substitutionGroup="gen:AbstractGenericAttribute"/>
    
    <xs:complexType name="_ADEOfLandUseType">
        <xs:annotation>
            <xs:documentation>Conceptual hook for LandUse extensions, mirroring _ADEOfBuilding.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:element name="_ADEOfLandUse" type="farm:_ADEOfLandUseType" abstract="true" substitutionGroup="core:_ADEComponent"/>

</xs:schema>
