schemas/1.3/farm-operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0"
    xmlns:luse="http://www.opengis.net/citygml/landuse/3.0"
    xmlns:bldg="http://www.opengis.net/citygml/building/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"   
    xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0"
    xmlns:vers="http://www.opengis.net/citygml/versioning/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/core.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/vegetation/3.0" schemaLocation="../ogc/citygml/3.0/vegetation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="../ogc/citygml/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="../ogc/citygml/3.0/generics.xsd"/> 
    <xs:import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="../ogc/citygml/3.0/dynamizer.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="../ogc/citygml/3.0/versioning.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/> 
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../ogc/gml/3.2.1/xlink.xsd"/>

    <xs:annotation><xs:appinfo>Package: farm-operations</xs:appinfo></xs:annotation>

    <xs:element name="AgriculturalOperation" type="farm:AgriculturalOperationType" substitutionGroup="dyn:AbstractDynamizer"/>
    <xs:complexType name="AgriculturalOperationType">
        <xs:complexContent>
            <xs:extension base="dyn:AbstractDynamizerType">
                <xs:sequence>
                    <xs:element name="operationType" type="gml:CodeType">
                        <xs:annotation><xs:documentation>CodeSpace suggestion: urn:farm:codelist:operationtype</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="inputUsed" type="farm:InputUsedType" minOccurs="0"/>
                    <xs:element name="areaAffected" type="gml:AreaType" minOccurs="0"/>
                    <xs:element name="targetCropAreaRef" type="gml:ReferenceType" minOccurs="0"/> <xs:element name="targetPropertyRef" type="gml:ReferenceType" minOccurs="0"/> 
                    <xs:element ref="farm:_GenericApplicationPropertyOfAgriculturalOperation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AgriculturalOperationPropertyType">
        <xs:sequence minOccurs="0">
             <xs:element ref="farm:AgriculturalOperation"/>
        </xs:sequence>
        <xs:attribute ref="xlink:href"/>
        <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </xs:complexType>

</xs:schema>