schemas/1.3/farm-temporal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0"
    xmlns:luse="http://www.opengis.net/citygml/landuse/3.0"
    xmlns:bldg="http://www.opengis.net/citygml/building/3.0"
    xmlns:gen="http://www.opengis.net/citygml/generics/3.0"   
    xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0"
    xmlns:vers="http://www.opengis.net/citygml/versioning/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/core.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/vegetation/3.0" schemaLocation="../ogc/citygml/3.0/vegetation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="../ogc/citygml/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="../ogc/citygml/3.0/generics.xsd"/> 
    <xs:import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="../ogc/citygml/3.0/dynamizer.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="../ogc/citygml/3.0/versioning.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/> 
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../ogc/gml/3.2.1/xlink.xsd"/>
    
    <xs:annotation><xs:appinfo>Package: farm-temporal</xs:appinfo></xs:annotation>

    <xs:element name="_AbstractFarmTimeSlice" type="farm:AbstractFarmTimeSliceType" abstract="true" substitutionGroup="vers:AbstractVersion"/>
    <xs:complexType name="AbstractFarmTimeSliceType" abstract="true">
        <xs:complexContent>
            <xs:extension base="vers:AbstractVersionType">
             </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="CropAreaTimeSlice" type="farm:CropAreaTimeSliceType" substitutionGroup="farm:_AbstractFarmTimeSlice">
        <xs:annotation><xs:documentation>Represents the state of a CropArea during a specific time period (e.g., a growing season).</xs:documentation></xs:annotation>
    </xs:element>
    <xs:complexType name="CropAreaTimeSliceType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmTimeSliceType">
                <xs:sequence>
                    <xs:element name="cropGrowthStage" type="gml:CodeType" minOccurs="0"/>
                    <xs:element name="currentNDVI" type="xs:float" minOccurs="0"/>
                    </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>