schemas/1.3/farm-temporal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../ogc/citygml/3.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/> 

    <xs:annotation><xs:appinfo>Package: farm-temporal</xs:appinfo></xs:annotation>

    <xs:element name="_AbstractFarmTimeSlice" type="farm:AbstractFarmTimeSliceType" abstract="true" substitutionGroup="core:AbstractTimeSlice">
        <xs:annotation><xs:documentation>Base class for FarmGML time slices.</xs:documentation></xs:annotation>
    </xs:element>
    <xs:complexType name="AbstractFarmTimeSliceType" abstract="true">
        <xs:complexContent>
            <xs:extension base="core:AbstractTimeSliceType">
                </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="CropAreaTimeSlice" type="farm:CropAreaTimeSliceType" substitutionGroup="farm:_AbstractFarmTimeSlice">
        <xs:annotation><xs:documentation>Represents the state of a CropArea during a specific time period (e.g., a growing season).</xs:documentation></xs:annotation>
    </xs:element>
    <xs:complexType name="CropAreaTimeSliceType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractFarmTimeSliceType">
                <xs:sequence>
                    <xs:element name="cropGrowthStage" type="gml:CodeType" minOccurs="0"/>
                    <xs:element name="currentNDVI" type="xs:float" minOccurs="0"/>
                    </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     </xs:schema>
