schemas/1.3/farm-enterprise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:core="http://www.opengis.net/citygml/3.0"
    xmlns:farm="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    targetNamespace="https://igorquintao.github.io/FarmGML-ADE/schemas/1.3"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="http://schemas.opengis.net/citygml/3.0/core.xsd C:/Users/Usuario/Documents/GitHub/FarmGML-ADE/schemas/ogc/citygml/3.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="../ogc/citygml/3.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../ogc/citygml/3.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>    

    <xs:annotation><xs:appinfo>Package: farm-enterprise</xs:appinfo></xs:annotation>

    <xs:element name="_AbstractRuralEnterprise" type="farm:AbstractRuralEnterpriseType" abstract="true" substitutionGroup="core:AbstractFeature">
        <xs:annotation><xs:documentation>Abstract feature for specific types of rural enterprises (livestock, forestry, etc.).</xs:documentation></xs:annotation>
    </xs:element>
    <xs:complexType name="AbstractRuralEnterpriseType" abstract="true">
        <xs:complexContent>
            <xs:extension base="core:AbstractFeatureType"> <xs:sequence>
                    <xs:element name="occupiedArea" type="gml:AreaType" minOccurs="0"/>
                    <xs:element name="startDate" type="xs:date" minOccurs="0"/>
                    <xs:element ref="core:lifecycleInfo" minOccurs="0"/>
                    <xs:element ref="farm:_GenericApplicationPropertyOfAbstractRuralEnterprise" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="LivestockEnterprise" type="farm:LivestockEnterpriseType" substitutionGroup="farm:_AbstractRuralEnterprise"/>
    <xs:complexType name="LivestockEnterpriseType">
        <xs:complexContent>
            <xs:extension base="farm:AbstractRuralEnterpriseType">
                <xs:sequence>
                    <xs:element name="livestockType" type="gml:CodeType">
                        <xs:annotation><xs:documentation>CodeSpace suggestion: urn:fao:agris:livestocktype</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="livestockCategory" type="gml:CodeType" minOccurs="0">
                        <xs:annotation><xs:documentation>CodeSpace suggestion: urn:fao:agris:livestockcategory</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="numberOfHeads" type="xs:positiveInteger"/>
                    <xs:element name="feedingPractice" type="gml:CodeType" minOccurs="0"/>
                    <xs:element name="hasProductionContract" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="hasMarketingContract" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AquacultureEnterprise" type="farm:AquacultureEnterpriseType" substitutionGroup="farm:_AbstractRuralEnterprise"/>
    <xs:complexType name="AquacultureEnterpriseType">
         <xs:complexContent>
            <xs:extension base="farm:AbstractRuralEnterpriseType">
                <xs:sequence>
                     <xs:element name="speciesRaised" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ForestryEnterprise" type="farm:ForestryEnterpriseType" substitutionGroup="farm:_AbstractRuralEnterprise"/>
    <xs:complexType name="ForestryEnterpriseType">
         <xs:complexContent>
            <xs:extension base="farm:AbstractRuralEnterpriseType">
                <xs:sequence>
                     <xs:element name="productType" type="gml:CodeType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RuralEnterprisePropertyType">
        <xs:sequence minOccurs="0">
             <xs:element ref="farm:_AbstractRuralEnterprise"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </xs:complexType>

</xs:schema>
